{{>partial_header}}
#' @title {{baseName}} operations
#' @description Client class for {{importPath}} objects
#'
#' @field basePath Stores url path of the request.
#' @field userAgent Set the user agent of the request.
#'
#' @importFrom R6 R6Class
#'
#' @format
#' 
#' @usage
#' # client <- {{classname}}$new()
#' 
#' @section Methods:
#' \describe{
{{#operations}}
{{#operation}}
#' \item{\code{ {{operationId}} }}{
#'
#'   {{summary}};
#'   {{notes}}.
#'
#'     Parameters:
#'     \itemize{
#'         {{#queryParams}}\item \code{ {{paramName}} } : {{description}} {{/queryParams}}
#'         {{#pathParams}}\item \code{ {{paramName}} } : {{description}} {{/pathParams}}
#'         {{#hasQueryParams}}\item \code{ queryParams } : named list or vector with query parameters {{/hasQueryParams}}
#'         {{#isResponseFile}}\item \code{ filename } : location to save data, defaults to \code{format(Sys.time(), "download-\%Y-\%m-\%dT\%H:\%m.zip")}  {{/isResponseFile}}
#'         \item \code{ ... } : additional parameters passed to httr::GET
#'     }
#'     Returns:
#'         \code{ {{returnType}} }
#' }
{{/operation}}
#' }
#'
#' @export
{{classname}} <- R6::R6Class(
    "{{classname}}",
    inherit = ApiClient,
    public = list(
        initialize = function(basePath, userAgent){
        super$initialize(basePath, userAgent)
    },

    {{#operation}}
      {{operationId}} = function(
      {{#allParams}}
          {{baseName}} = NULL,
      {{/allParams}}
      {{#hasQueryParams}}
          queryParams = list(),
      {{/hasQueryParams}}
      {{#isResponseFile}}
          filename = format(Sys.time(),
                            "download-%Y-%m-%dT%H:%m.zip"),
      {{/isResponseFile}}
          ... ) {
        headerParams <- character()
      {{#hasHeaderParams}}
        {{#headerParams}}

         if (!missing(`{{paramName}}`)) {
            headerParams["{{baseName}}"] <- `{{paramName}}`

         }
          {{/headerParams}}
        {{/hasHeaderParams}}
      {{#hasQueryParams}}
        if (!is.null(querySpec) & length(queryParams) > 0) {
            stop("Either querySpec or queryParams argument allowed, not both.")
        }
          {{#queryParams}}            
            
        if (!missing(`{{baseName}}`)) {
          ## querySpec can be either JSON string or object of type QuerySpec. 
          param <- ifelse(typeof(`{{baseName}}`) == "environment",
                          `{{baseName}}`$toJSONString(),
                          `{{baseName}}`)    
          queryParams["{{baseName}}"] <- param
        }
        ## querySpec parameter has underscore in NBA, omitted in argument
        names(queryParams) <- gsub("querySpec",
                                    "_querySpec",
                                    names(queryParams))

          {{/queryParams}}
      {{/hasQueryParams}}
      {{^hasQueryParams}}
        queryParams <- list()
      {{/hasQueryParams}}
        {{#hasFormParams}}
        body <- list(
          {{#formParams}}
            {{^isFile}}
            "{{baseName}}" = {{paramName}}{{#hasMore}},{{/hasMore}}
              {{/isFile}}
              {{#isFile}}
            "{{baseName}}" = httr::upload_file({{paramName}}){{#hasMore}},{{/hasMore}}
              {{/isFile}}
          {{/formParams}}
          )

        {{/hasFormParams}}
        {{#hasBodyParam}}
          {{#bodyParams}}
        if (!missing(`{{baseName}}`)) {
            body <- `{{baseName}}`$toJSONString()
        } else {
            body <- NULL
        }

          {{/bodyParams}}
        {{/hasBodyParam}}
        urlPath <- "{{path}}"
        {{#hasPathParams}}
          {{#pathParams}}
            
        if (!missing(`{{baseName}}`)) {
            ## build URL for path param
            {{#isContainer}}
            ## input can be vector or string with comma separated items
            ## API takes string, so translate vector, if present
            if (length(`{{baseName}}`) > 1) {
                {{baseName}} <- paste({{baseName}}, collapse=",")
            }
            {{/isContainer}}
            urlPath <- gsub(paste0("\\{", "{{baseName}}", "\\}"), `{{baseName}}`, urlPath)
        }

          {{/pathParams}}
        {{/hasPathParams}}
        response <- self$callApi(url = paste0(self$basePath, urlPath),
                                 method = "{{httpMethod}}",
                                 queryParams = as.list(queryParams),
                                 headerParams = headerParams,
                                 body = body,
                                 {{#isResponseFile}}
                                 httr::write_disk(filename),
                                 httr::progress(),  
                                 {{/isResponseFile}}
                                 ...)

        if (httr::status_code(response) < 200 ||
               httr::status_code(response) > 299) {
            self$handleError(response)
        } else {
        {{#isResponseFile}}
            message("Query result written to ", filename)
        {{/isResponseFile}}
        {{#returnType}}
            {{#isMapContainer}}
            ## API call result is a "map container" and will be parsed to list 
            result <- httr::content(response, simplifyVector = TRUE)
            {{/isMapContainer}}            
            {{^isMapContainer}}
            {{#returnTypeIsPrimitive}}
            ## API call result is "primitive type", return vector or single value
            result <- as.{{returnType}}(httr::content(response))
            {{/returnTypeIsPrimitive}}
            {{^returnTypeIsPrimitive}}
            {{#hasReference}}
            ## API call result is object of model class
            returnObject <- {{returnType}}$new()
            {{/hasReference}}
            {{#isListContainer}}
            ## API call result is "list container"
            result <- lapply(httr::content(response),
                             function(x) {
                                 cl <- returnObject$clone()
                                 cl$fromList(x,
                                 typeMapping = list(item = private$getBaseDataType()))
                                 })
            {{/isListContainer}}
            {{^isListContainer}}                        
            ## if API call result is QueryResult,
            ## list items must be mapped to model class            
            result <- returnObject$fromList(
                httr::content(response),
                  typeMapping = list(item = private$getBaseDataType()))
            {{/isListContainer}}            
            {{/returnTypeIsPrimitive}}
            {{/isMapContainer}}            
        {{/returnType}}
        {{^returnType}}        
            ## empty response, e.g. when file is downloaded
            result <- NULL
            {{/returnType}}
            Response$new(result, response)
        }        
    },
    {{/operation}}
{{/operations}}    
    print = function(...) {
       ## print class name
       cat("<{{classname}}>\n")
       cat("\tInherits from: <ApiClient>\n\n")
       ## print all members with values
       cat("Fields:\n")
       cat("\tbasePath:\t", self$basePath, "\n")
       cat("\tuserAgent:\t", self$userAgent, "\n")
       ## print all methods
       cat("Methods:\n")
       {{#operations}}
         {{#operation}}
           cat("\t{{operationId}}", "\n")
         {{/operation}}
       {{/operations}}
       cat("\tping\n")
       invisible(self)
    }
  )
)

