{{>partial_header}}
# {{baseName}} client wrapper
# for {{importPath}} objects

{{#operations}}
  {{#operation}}
    #' @name {{classVarName}}_{{operationId}}
    #' @title {{summary}}
    #' @description This is a wrapper function for {{operationId}}
    #' from class {{importPath}}Client.
    {{#notes}}#' @details {{notes}}{{/notes}}
    #' @family {{importPath}}Client-wrappers
    {{#returnType}}#' @return {{#returnType}}{{#returnTypeIsPrimitive}}scalar{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}list{{/returnTypeIsPrimitive}}{{/returnType}}{{/returnType}}
      {{#allParams}}
        {{#isPrimitiveType}}
    #' @param {{baseName}} {{description}}, type: {{baseType}}
        {{/isPrimitiveType}}
        {{^isPrimitiveType}}
          {{#isListContainer}}
    #' @param {{baseName}} {{description}}, type: {{baseType}}
          {{/isListContainer}}
        {{/isPrimitiveType}}
      {{/allParams}}
      {{#hasQueryParams}}
    #' @param queryParams Named list or vector with names being the fields to be queried and values being the values to match
      {{/hasQueryParams}}
      {{#isResponseFile}}
    #' @param filename Filename to save results to, defaults to `format(Sys.time(),"download-\%Y-\%m-\%dT\%H:\%m.zip")`
      {{/isResponseFile}}
    #' @param ... additional parameters passed to {{operationId}} from class class {{importPath}}Client
    #' @export
    {{classVarName}}_{{operationId}} <- function(
    {{#allParams}}
      {{#isPrimitiveType}}
        {{baseName}} = NULL,
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
        {{#isListContainer}}
          {{baseName}} = NULL,
        {{/isListContainer}}
      {{/isPrimitiveType}}
    {{/allParams}}
    {{#hasQueryParams}}
      queryParams = list(),
    {{/hasQueryParams}}
    {{#isResponseFile}}
      filename = format(Sys.time(),
      "download-%Y-%m-%dT%H:%m.zip"),
    {{/isResponseFile}} ...) {
    sc <- {{baseName}}Client$new()
    res <- sc${{operationId}}(
    {{#allParams}}
      {{#isPrimitiveType}}
        {{baseName}},
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
        {{#isListContainer}}
          {{baseName}},
        {{/isListContainer}}
      {{/isPrimitiveType}}
    {{/allParams}}
    {{#hasQueryParams}} queryParams=queryParams, {{/hasQueryParams}}
      {{#isResponseFile}}
        filename=filename,
      {{/isResponseFile}}  
      ...)      
      {{#returnType}}
        {{#returnTypeIsPrimitive}}
          result <- res$content
        {{/returnTypeIsPrimitive}}          
        {{^returnTypeIsPrimitive}}
          result <- .make_list_response(res)
        {{/returnTypeIsPrimitive}}
          return(result)
      {{/returnType}}
  }
  {{/operation}}
{{/operations}}

#' @noRd
#' @param response Object of class Response
#' Internal function to convert all (nested) objects
#' in a response object to lists
.make_list_response <- function(response) {
  l <- response$content          

  ## Handle return objects of class QueryResult
  if (class(l)[1] == "QueryResult") {
    l <- lapply(l$resultSet, function(x)x$item)
  }
          
  ## wrapper functions return lists instead of objects
  if (! is.list(l)) {
    result <- l$toList()
  } else {
    result <- lapply(l,
                     function(x)if(is.object(x)){x$toList()}else{x})
  }

  return(result)
}
