{{>partial_header}}
#' @title {{baseName}} client wrapper
#' for {{importPath}} objects


{{#operations}}
  {{#operation}}
    {{classVarName}}_{{operationId}} <- function(
    {{#allParams}}
      {{#isPrimitiveType}}
        {{baseName}} = NULL,
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
        {{#isListContainer}}
          {{baseName}} = NULL,
        {{/isListContainer}}
      {{/isPrimitiveType}}
    {{/allParams}}
    {{#hasQueryParams}}
      queryParams = list(),
    {{/hasQueryParams}}
    {{#isResponseFile}}
      filename = format(Sys.time(),
      "download-%Y-%m-%dT%H:%m.zip"),
    {{/isResponseFile}} ...) {
    sc <- {{baseName}}Client$new()
    res <- sc${{operationId}}(
    {{#allParams}}
      {{#isPrimitiveType}}
        {{baseName}},
      {{/isPrimitiveType}}
      {{^isPrimitiveType}}
        {{#isListContainer}}
          {{baseName}},
        {{/isListContainer}}
      {{/isPrimitiveType}}
    {{/allParams}}
    {{#hasQueryParams}} queryParams=queryParams, {{/hasQueryParams}}
      ...)
      {{#returnType}}
        {{#returnTypeIsPrimitive}}
          result <- res$content
        {{/returnTypeIsPrimitive}}          
        {{^returnTypeIsPrimitive}}
          result <- lapply(res$content, function(x)if(is.object(x)){x$toList()}else{x})          
        {{/returnTypeIsPrimitive}}
      {{/returnType}}
      return(result)
  }
  {{/operation}}
{{/operations}}