Package: {{{packageName}}}
Title: R Package Client for the {{{appName}}}
Version: {{packageVersion}}
Authors@R: person("{{{authorFirstName}}}", "{{{authorLastName}}}", email = "{{{authorEmail}}}", role = c("aut", "cre"))
Maintainer: {{{authorFirstName}}} {{{authorLastName}}} <{{{authorEmail}}}>
Description: {{{appDescription}}}{{^appDescription}}R Package Client for {{{appName}}}{{/appDescription}}.
    {{{extendedDescription}}}
URL: {{{repoURL}}}
BugReports: {{{bugReportURL}}}
Depends: R (>= 3.3.0)
Encoding: UTF-8
License: MIT + file LICENSE
LazyData: true
Suggests:
    testthat,
    knitr,
    rmarkdown
Imports:
    jsonlite,
    httr,
    R6
RoxygenNote: 6.1.0
VignetteBuilder: knitr
