Package: {{{packageName}}}
Title: R Package Client for {{{appName}}}
Version: {{packageVersion}}
Authors@R: person("{{{authorFirstName}}}", "{{{authorLastName}}}", email = "{{{authorEmail}}}", role = c("aut", "cre"))
Maintainer: {{{authorFirstName}}} {{{authorLastName}}} <{{{authorEmail}}}>
Description: {{{appDescription}}}{{^appDescription}}R Package Client for {{{appName}}}{{/appDescription}}.
    {{{extendedDescription}}}
URL: {{{repoURL}}}
BugReports: <mailto:{{{nbaRemail}}}>
Depends: R (>= 3.3.3)
Encoding: UTF-8
License: Unlicense
LazyData: true
Suggests:
    testthat,
    knitr,
    rmarkdown
Imports:
    jsonlite,
    httr,
    R6
RoxygenNote: 6.1.0
