#' {{{packageName}}} : R Package Client for the {{{appName}}}
#'
#' {{{appDescription}}}
#'
#' @name {{{packageName}}}
#' @aliases {{{packageName}}}-package
#' @title {{{packageName}}} : R Package Client for the {{{appName}}}
#' @docType package
#' @keywords package
#' @author {{{author}}} \email{ {{{authorEmail}}} }
NULL
